@{
    var baseUrl = string.Empty;
    var controllerName = string.Empty;

    if (HttpContextAccessor?.HttpContext?.Request != null)
    {
        baseUrl = $"{HttpContextAccessor.HttpContext.Request.Scheme}://{HttpContextAccessor.HttpContext.Request.Host}";
        controllerName = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty;
    }

    var fullPath = !string.IsNullOrEmpty(controllerName) ? $"{baseUrl}/{controllerName}" : baseUrl;

    <script>
        const baseUrl = '@baseUrl';
        const fullPath = '@fullPath';
    </script>
}

<!DOCTYPE html>
<html lang="es-es" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Template</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/template/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/template/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/template/assets/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/template/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/template/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="~/template/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/template/vendors/simplebar/simplebar.min.js"></script>
    <script src="~/template/assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/template/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/template/vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
    <link href="~/template/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <link href="~/template/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="~/template/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/template/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/template/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/template/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="~/template/vendors/flags/css/flags.css" rel="stylesheet" />

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/template/vendors/popper/popper.min.js"></script>
    <script src="~/template/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/template/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/template/vendors/is/is.min.js"></script>
    <script src="~/template/vendors/fontawesome/all.min.js"></script>
    <script src="~/template/vendors/lodash/lodash.min.js"></script>
    <script src="~/template/vendors/list.js/list.min.js"></script>
    <script src="~/template/vendors/feather-icons/feather.min.js"></script>
    <script src="~/template/vendors/dayjs/dayjs.min.js"></script>
    <script src="~/template/vendors/choices/choices.min.js"></script>
    <script src="~/template/vendors/echarts/echarts.min.js"></script>
    <script src="~/template/vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
    <script src="~/template/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/template/assets/js/phoenix.js"></script>
    <script src="~/template/assets/js/projectmanagement-dashboard.js"></script>
    <script src="~/template/vendors/axios/axios.min.js"></script>


    <script>
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
        window.config.set({
            phoenixNavbarTopStyle: 'darker'
        });
    </script>

    <!-- ===============================================-->
    <!--  Custom CSS -->
    <!-- ===============================================-->
    <link href="~/css/shared/global.css" rel="stylesheet" />
    <link href="~/css/shared/layout.css" rel="stylesheet" />

    <!-- ===============================================-->
    <!--  Custom JS -->
    <!-- ===============================================-->
    <script type="module" src="~/js/Shared/layout.js"></script>

</head>

<body>
    <main class="main" id="top">
        <nav class="navbar navbar-top navbar-slim justify-content-between fixed-top navbar-expand-lg" id="navbarTopSlim"
            data-navbar-appearance="darker">
            <div class="navbar-logo">
                <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse"
                    aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                            class="toggle-line"></span></span></button>
                <a class="navbar-brand navbar-brand mt-1" href="@fullPath/Home">
                    <span class="text-primary-light traducir">Plantilla</span>
                    <span class="text-body-highlight">Phoenix</span>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center"
                id="navbarTopCollapse">
                <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover"
                    id="menus_nav_main">

                </ul>
            </div>
            <ul class="navbar-nav navbar-nav-icons flex-row">
                <li class="nav-item">
                    <div class="theme-control-toggle fa-ion-wait pe-2 theme-control-toggle-slim">
                        <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                            type="checkbox" data-theme-control="phoenixTheme" value="dark">
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                            for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Switch theme">
                            <span class="d-none d-sm-flex flex-center" style="height:16px;width:16px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-moon me-1 icon">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                </svg>
                            </span><span class="fs-9 mt-1 fw-bold traducir">Oscuro</span>
                        </label>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                            for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Switch theme">
                            <span class="d-none d-sm-flex flex-center" style="height:16px;width:16px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-sun me-1 icon">
                                    <circle cx="12" cy="12" r="5"></circle>
                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                </svg>
                            </span><span class="fs-9 mt-1 fw-bold traducir">Luminoso</span>
                        </label>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownNotification" href="#" role="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                        <span class="d-inline-block" style="height:12px;width:12px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bell" style="height:12px;width:12px;">
                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                            </svg>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret"
                        id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
                        <div class="card position-relative border-0">
                            <div class="card-header p-2">
                                <div class="d-flex justify-content-between">
                                    <h5 class="text-body-emphasis mb-0 traducir">Notificaciones</h5>
                                    <button class="btn btn-link p-0 fs-9 fw-normal traducir" type="button">
                                        Marcar todo como leído
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="scrollbar-overlay" style="height: 27rem;" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: 0px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                                    aria-label="scrollable content"
                                                    style="height: auto; overflow: hidden;">
                                                    <div class="simplebar-content" style="padding: 0px;">
                                                        <div
                                                            class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3">
                                                                        <img class="rounded-circle"
                                                                            src="~/template/assets/img/team/40x40/30.webp"
                                                                            alt="">
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">
                                                                            Jessie Samson
                                                                        </h4>
                                                                        <p
                                                                            class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal">
                                                                            <span class="me-1 fs-10">💬</span>
                                                                            <span class="traducir">Te ha mensionado en
                                                                                un comentario.</span>
                                                                            <span
                                                                                class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span>
                                                                        </p>
                                                                        <p class="text-body-secondary fs-9 mb-0">
                                                                            <span class="me-1 fas fa-clock"></span>
                                                                            <span class="fw-bold">06:25 PM </span>&nbsp;
                                                                            07/08/2024
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button
                                                                        class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                                                        type="button" data-bs-toggle="dropdown"
                                                                        data-boundary="window" aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        data-bs-reference="parent">
                                                                        <span
                                                                            class="fas fa-ellipsis-h fs-10 text-body"></span>
                                                                    </button>
                                                                    <div class="dropdown-menu py-2">
                                                                        <a class="dropdown-item traducir" href="#!">
                                                                            Marcar como no leído
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3">
                                                                        <div class="avatar-name rounded-circle">
                                                                            <span>J</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">
                                                                            Jane Foster
                                                                        </h4>
                                                                        <p
                                                                            class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal">
                                                                            <span class="me-1 fs-10">📅</span>
                                                                            <span class="traducir">Ha creado un
                                                                                evento.</span>
                                                                            <span
                                                                                class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span>
                                                                        </p>
                                                                        <p class="text-body-secondary fs-9 mb-0">
                                                                            <span class="me-1 fas fa-clock"></span>
                                                                            <span class="fw-bold">11:32 AM </span>&nbsp;
                                                                            07/08/2024
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button
                                                                        class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                                                        type="button" data-bs-toggle="dropdown"
                                                                        data-boundary="window" aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        data-bs-reference="parent">
                                                                        <span
                                                                            class="fas fa-ellipsis-h fs-10 text-body"></span>
                                                                    </button>
                                                                    <div class="dropdown-menu py-2">
                                                                        <a class="dropdown-item traducir" href="#!">
                                                                            Marcar como no leído
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3">
                                                                        <img class="rounded-circle avatar-placeholder"
                                                                            src="~/template/assets/img/team/40x40/avatar.webp"
                                                                            alt="">
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">
                                                                            Jessie Samson
                                                                        </h4>
                                                                        <p
                                                                            class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal">
                                                                            <span class="me-1 fs-10">👍</span>
                                                                            <span class="traducir">
                                                                                Le ha gustado tu comentario
                                                                            </span>
                                                                            <span
                                                                                class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span>
                                                                        </p>
                                                                        <p class="text-body-secondary fs-9 mb-0">
                                                                            <span class="me-1 fas fa-clock"></span>
                                                                            <span class="fw-bold">12:40 PM </span>&nbsp;
                                                                            07/08/2024
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button
                                                                        class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                                                        type="button" data-bs-toggle="dropdown"
                                                                        data-boundary="window" aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        data-bs-reference="parent">
                                                                        <span
                                                                            class="fas fa-ellipsis-h fs-10 text-body"></span>
                                                                    </button>
                                                                    <div class="dropdown-menu py-2">
                                                                        <a class="dropdown-item traducir" href="#!">
                                                                            Marcar como no leído
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div
                                                                class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3">
                                                                        <img class="rounded-circle"
                                                                            src="~/template/assets/img/team/40x40/57.webp"
                                                                            alt="">
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">
                                                                            Kiera Anderson
                                                                        </h4>
                                                                        <p
                                                                            class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal">
                                                                            <span class="me-1 fs-10">💬</span>
                                                                            <span class="traducir">Te ha mencionado en
                                                                                un comentario.</span>
                                                                            <span
                                                                                class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span>
                                                                        </p>
                                                                        <p class="text-body-secondary fs-9 mb-0">
                                                                            <span class="me-1 fas fa-clock"></span>
                                                                            <span class="fw-bold">08:34 PM </span>&nbsp;
                                                                            07/08/2024
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button
                                                                        class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none"
                                                                        type="button" data-bs-toggle="dropdown"
                                                                        data-boundary="window" aria-haspopup="true"
                                                                        aria-expanded="false"
                                                                        data-bs-reference="parent">
                                                                        <span
                                                                            class="fas fa-ellipsis-h fs-10 text-body"></span>
                                                                    </button>
                                                                    <div class="dropdown-menu py-2">
                                                                        <a class="dropdown-item traducir" href="#!">
                                                                            Marcar como no leído
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 0px; height: 0px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar"
                                            style="height: 0px; display: none; transform: translate3d(0px, 0px, 0px);">
                                        </div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical">
                                        <div class="simplebar-scrollbar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-0 border-top border-translucent border-0">
                                <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85">
                                    <a class="fw-bolder traducir" href="#">Historial de notificaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link lh-1 pe-0 white-space-nowrap" id="navbarDropdownUser" href="#!" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="outside"
                        aria-expanded="false"> Roberto <span class="d-inline-block" style="height:10.2px;width:10.2px;">
                            <span class="fa-solid fa-chevron-down fs-10"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border"
                        aria-labelledby="navbarDropdownUser">
                        <div class="card position-relative border-0">
                            <div class="card-body p-0">
                                <div class="text-center pt-4 pb-3">
                                    <div class="avatar avatar-xl ">
                                        <img class="rounded-circle " src="~/template/assets/img/team/72x72/5.webp"
                                            alt="">

                                    </div>
                                    <h6 class="mt-2 text-body-emphasis">Roberto Musso</h6>
                                </div>

                            </div>
                            <div class="overflow-auto scrollbar">
                                <ul class="nav d-flex flex-column mb-2 pb-1">
                                    <li class="nav-item">
                                        <a class="nav-link px-3 d-block" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-user me-2 text-body align-bottom">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </svg><span class="traducir">Perfil</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 d-block" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-settings me-2 text-body align-bottom">
                                                <circle cx="12" cy="12" r="3"></circle>
                                                <path
                                                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                                </path>
                                            </svg><span class="traducir">Configuración y privacidad</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 d-block" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-help-circle me-2 text-body align-bottom">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                                <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                            </svg><span class="traducir">Centro de ayuda</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 d-block w-100" href="#lista_idiomas" role="button"
                                            data-bs-toggle="collapse" aria-expanded="false"
                                            aria-controls="lista_idiomas">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-globe me-2 text-body align-bottom">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <line x1="2" y1="12" x2="22" y2="12"></line>
                                                <path
                                                    d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                                </path>
                                            </svg><span class="traducir">Idioma</span>
                                        </a>

                                    </li>
                                    <div class="parent-wrapper label-1">
                                        <ul class="parent collapse p-0" data-bs-parent="#navbarVerticalCollapse"
                                            id="lista_idiomas">
                                            <li class="nav-item">
                                                <a class="nav-link cursor-pointer" id="lang_es" data-lang="es">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/template/vendors/flags/img/separate/es.png"
                                                            class="flag-icon" />
                                                        &nbsp;&nbsp;
                                                        <span class="nav-link-text">Español</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link cursor-pointer" id="lang_en" data-lang="en">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/template/vendors/flags/img/separate/us.png"
                                                            class="flag-icon" />
                                                        &nbsp;&nbsp;
                                                        <span class="nav-link-text">English</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link cursor-pointer" id="lang_pt" data-lang="pt">
                                                    <div class="d-flex align-items-center">
                                                        <img src="/template/vendors/flags/img/separate/br.png"
                                                            class="flag-icon" />
                                                        &nbsp;&nbsp;
                                                        <span class="nav-link-text">Português</span>
                                                    </div>
                                                </a>
                                            </li>
                                            @* <li class="nav-item">
                                            <a class="nav-link cursor-pointer" id="lang_ch" data-lang="ch">
                                            <div class="d-flex align-items-center">
                                            <img src="/template/vendors/flags/img/separate/cn.png" class="flag-icon" />
                                            &nbsp;&nbsp;
                                            <span class="nav-link-text">Chinese</span>
                                            </div>
                                            </a>
                                            </li> *@
                                        </ul>

                                    </div>
                                </ul>
                            </div>
                            <div class="card-footer p-0 mt-3 border-top border-translucent">
                                <div class="px-3 my-3">
                                    <a class="btn btn-phoenix-secondary d-flex flex-center w-100"
                                        href="@fullPath/Login">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-log-out me-2">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg><span class="traducir">Cerrar Sesion</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="content">

            <div>
                @RenderBody()
            </div>

            <footer class="footer position-absolute">
                <div class="row g-0 justify-content-between align-items-center h-100">
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 mt-2 mt-sm-0 text-body">
                            <span class="traducir">Todos los derechos reservados</span>
                            <span class="d-none d-sm-inline-block"></span>
                            <span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none">
                            <script>document.write(new Date().getFullYear())</script> ©
                        </p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-body-tertiary text-opacity-85">TalkTeam</p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <script type="module" src="~/js/Shared/lenguaje.js"></script>

</body>

</html>